POSTGRES_CONNECTION=Host=localhost;Port=5432;Database=biletix;Username=biletix;Password=biletix123
REDIS_CONNECTION=localhost:6379
KAFKA_BOOTSTRAP=localhost:9092
ELASTICSEARCH_URL=http://localhost:9200
